/training.ini
/target/
/.project
/.settings/
/.classpath
/changes.txt
/dependency-reduced-pom.xml
/FileMyRun.log
/howto-git.txt
/bin/
/FileMyRun.log.1
/FileMyRun.log.2
/FileMyRun.log.3
/FileMyRun.log.4
/FileMyRun.log.5
